NBrightCore/obj/
NBrightDNN/obj/
packages/
NBrightDNN/Installation/NBrightDNN_Resource.zip
.vs/
obj/
ckeditor/plugins/ckeditor-docs-samples-master/
NBrightCore/bin/
bin/
Installation/NBrightDNN_8.5.3_Install.zip
Installation/NBrightDNN_8.5.4_Install.zip
Installation/NBrightDNN_8.5.5_Install.zip
Installation/NBrightDNN_8.6.2_Install.zip
NBrightCore/dnnpack.config
dnnpack.config
*.zip
